*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center; /* horizontal */
  align-items: center; /* vertical */
  background-image: url("https://images.unsplash.com/photo-1531366936337-7c912a4589a7?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=MnwxfDB8MXxyYW5kb218MHx8bGFuZHNjYXBlfHx8fHx8MTY5NzEzMTcyNA&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600");
  background-size: cover;
}

.glass{
  background-color: black;
  opacity: 0.8;
  border-radius: 25px;
  padding: 20px;
  width: 95%;
  max-width: 500px;
}

.inputCity{
  border: none;
  outline: none; /*Linha que indica o campo selecionado */
  padding: 10px;
  border-radius: 25px;
  font-size: 20px;
  background-color: #7c7c7c2b;
  color: #ffffff;
  width: calc(100% - 70px);
}

.btnSearch{
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 50px;
  background-color: #7c7c7c2b;
  cursor: pointer;
  float: right;
}

.imgSearch{
  width: 25px;
}

.localBox{
  margin-top: 25px;
}

.textCity{
  color: #ffffff;
  font-size: 27px;
  font-weight: 300;
}

.temp {
  font-size: 20px;
  color: #ffffff;
  margin-top: 17px;
}

.weatherBox{
  display: flex;
  align-items: center;
  margin-top: 17px;
}

.textWeather {
  color: #ffffff;
  margin-left: 17px;
  text-transform: capitalize;
}

.moisture {
  color: #ffffff;
  margin-top: 17px;
}

.footer{
  height: 50px;
}